/* CSS Document */

div.Left_Profile_Container {
	text-align:center;
	margin-bottom:30px;
	position:relative;
	top:25px;
	height:100px;
}

img {
	position:relative;
}

div.Left_Profile_Image_Container {
	margin:auto;
	width:65px;
	height:70px;
}

span.Badge_Point {
	position:relative;
	top:-60px;
	left:20px
}

div.Left_Profile_Text {
	font-size:15px;
	margin-bottom:5px;
	opacity:0;
}

div.Left_Naviqation:hover {
	width:150px;
}

div.Left_Naviqation {
	color:rgb(255,255,255);
	z-index:100;
	position:fixed;
	left:0px;
	height: 390px;
	width:65px;
	background-image:url(assets/LeftBackGround.jpg);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	transition:width 0.5s;
	-moz-transition:width 0.5s;
	-webkit-transition:width 0.5s;
	-o-transition:width 0.5s;
}

div.Left_Naviqation a {
	color:rgb(255,255,255);
}

div.Left_Naviqation_Container {
	position:relative;
	height:50px;
}

div.Left_Naviqation_Label {
	position:absolute;
	left:15px;
	width:50px;
}

p.Left_Naviqation_Label_Text {
	opacity:0;
	font-size:15px;
	position:relative;
	width:auto;
	left:60px;
	line-height:30px;
	vertical-align:central;
}