@charset "utf-8";
/* CSS Document */

div.bottom_button {
	display:inline-block;
	position:relative;
	width:24%;
	height:100%;
}

div.text_button {
	line-height:40px;
	text-align:center;
	position:relative;
	width:auto;
	height:40px;
}

div.line {
	position:relative;
	width:auto;
	height:3px;
	top:0px;
}

.ProblemTitle {
	position:absolute;
	color:rgb(255,255,255);
	font-size:50px;
	top: 15px;
	left:100px;
}

.DescribeTitle {
	font-size:35px;
}

.DescribeText {
	font-size:20px;
}